body {
  background-color: #BBBBFE; }

.wrapper {
  width: 960px;
  float: none;
  position: relative;
  margin: auto; }

.content {
  width: 400px;
  background-color: #FFFFFF;
  margin: 20px; }

.box {
  height: 80px;
  width: 400px;
  padding: 8px;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 7px #888888;
  -webkit-box-shadow: 0px 0px 7px #888888;
  box-shadow: 0px 0px 7px #888888;
  right: 0px;
  bottom: 0px;
  position: fixed;
  float: right;
  display: none; }

#xbox {
  cursor: pointer;
  width: 15px;
  height: 15px;
  float: right; }